# Preserve the exact, hash-reviewed licence payloads across Windows checkouts.
/docs/licenses/THIRD-PARTY-NOTICES.txt -text whitespace=cr-at-eol,-blank-at-eof
/docs/licenses/pixi-colord-2.9.6-LICENSE.txt -text
